/*
    Reset Ã¢â„¢Â¥
    http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
  }
body { line-height:1; }
ol, ul { list-style:none;  }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing:0; }
/* remember to define focus styles. Hee Haw */
:focus { outline:0; }


*, *:after, *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }


/*
  This is a stripped down version of Mapbox base.css
  https://www.mapbox.com/base/latest/base.css
------------------------------------------------------- */


/* Inline Elements: Defaults
------------------------------------------------------- */
body,
input,
textarea {
  color:#404040;
  color:rgba(0,0,0,0.75);
  font: 18px 'Open Sans', sans-serif;
  -webkit-font-smoothing:antialiased;
  }

body { background:#fff; }
.dark { color:#fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:'Open Sans', sans-serif;
  font-weight:600;
  margin:0;
  padding-top: 20px;
  }

em h1, h1 em,
em h2, h2 em,
em h3, h3 em,
em h4, h4 em,
em h5, h5 em,
em h6, h6 em {
  font-family:'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  }

h1 {
  font-size:30px;
  line-height:40px;
  letter-spacing:-1px;
  }
h2 {
  font-size:22px;
  line-height:30px;
  /*padding-top: 5px;*/
  padding-bottom:10px;
  }

h3 {
  font-size:17px;
  line-height:20px;
  padding-bottom:10px;
  }

h4, h5, h6 {
  font-size:12px;
  line-height:20px;
  padding-bottom:10px;
  }

p { margin-bottom:20px; }

p:last-child { margin-bottom:0; }

small,
.prose.small,
.small {
  font-size:12px;
  line-height:20px;
  letter-spacing:0;
  }

small { display:block; }

.strong,
strong {
  font-family:'Open Sans Bold', sans-serif;
  font-weight:normal;
  }
  strong em,
  em strong { font-family:'Open Sans Bold Italic', sans-serif; }

address,
em {
  font-family:'Open Sans Italic', sans-serif;
  }

/* Links */
a,
a code {
  color:#3887BE;
  text-decoration:none;
  }
  a:hover code,
  a:hover { color:#63b6e5; }
  a:focus {
    -webkit-box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);
            box-shadow:inset 0 0 0 1px rgba(0,0,0,0.05);
  }

.dark a,
.dark a code  { color:#63b6e5; }
.dark a:hover code,
.dark a:hover { color:#8fcaec; }
.dark a:focus {
  -webkit-box-shadow:inset 0 0 0 1px rgba(256,256,256,0.05);
          box-shadow:inset 0 0 0 1px rgba(256,256,256,0.05);
  }

a.quiet       { color:rgba(0,0,0,0.5);  }
a.quiet.active, a.quiet:hover { color:rgba(0,0,0,0.75); }

.dark a.quiet,
a.quiet.dark { color:rgba(255,255,255,0.5); }

.dark a.quiet:hover,
a.quiet.dark.active, a.quiet.dark:hover { color:rgba(255,255,255,0.75); }




/* Article styles
------------------------------------------------------- */

.article {
  line-height: 32px;
}


/* Content nodes */

.content-node {
  /*border-left: 2px solid #444;*/
  padding: 5px 90px;
  position: relative;
}

.content-node .toggle-bookmark {
  /*opacity: 0.8;*/
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  /*border-bottom: 1px solid #eee;*/
  width: 50px;
/*  background: #f5f5f5;
  border-bottom: 1px solid #fff;*/

  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #D4D4D4)
  );
  background-image: -o-linear-gradient(right, #FFFFFF 0%, #D4D4D4 100%);
  background-image: -moz-linear-gradient(right, #FFFFFF 0%, #D4D4D4 100%);
  background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #D4D4D4 100%);
  background-image: -ms-linear-gradient(right, #FFFFFF 0%, #D4D4D4 100%);
  background-image: linear-gradient(to right, #FFFFFF 0%, #F9F9F9 85%, #F4F4F4 95%, #F0F0F0 100%);

  

  /*border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;*/
  /*border-bottom: 1px solid #fff;*/
  border-right: 1px solid #ddd;
}

.content-node .toggle-bookmark:hover {
  background: #f1f1f1;
  opacity: 1.0;
}

.content-node .toggle-bookmark .stripe {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 7px;
  border-bottom: 1px solid #fff;
}


.content-node.bookmarked .toggle-bookmark .stripe {
  
  right: -1px;
  /*width: 30px;*/
  width: auto;
  left: 0px;
}

.content-node .toggle-bookmark i {
  font-size: 10px;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 25px;
  width: 10px;
}


.content-node.bookmarked .toggle-bookmark i {
  color: white;
}

/*.content-node.bookmarked .toggle-bookmark .stripe {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}*/


/*.content-node .toggle-bookmark:hover {
  opacity: 1.0;
}

.content-node.bookmarked .toggle-bookmark {
  opacity: 1.0;
  width: 60px;
}*/

.content-node.bookmarked {
  background: #fbfbfb;
  /*background: rgba(248, 230, 28, 0.1);*/

}

/*.content-node:hover .toggle-bookmark {
  opacity: 1.0;
}*/

.content-node .content {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  max-width: 700px;
  margin: 0px auto;  
}


/* Cover */

.content-node.cover {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content-node.cover h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
}

.content-node.cover .authors {
  color: #777;
  /*font-size: 14px;*/
  padding-top: 20px;
  overflow: auto;
}

.content-node.cover .author {
  float: left;
  margin-right: 20px;
}

.content-node.figure {
  text-align: center;
  padding-bottom: 20px;
}

.content-node.figure .caption {
  font-size: 14px;
  color: #777;
}

.content-node.figure img {
  max-width: 100%;
}

pre {
  font-family: 'Monaco';
  color: #777;
  font-size: 16px;
  white-space: pre-wrap;
  padding: 20px;
  border: 1px dashed #ccc;
}



.footer {
  text-align: center;
  border-top: 1px solid #eee;
  font-style: italic;
  font-size: 14px;
  color: #777;
  max-width: 700px;
  margin: 0px auto;
  padding: 50px 20px;
  line-height: 32px;
  /*margin-bottom: 60px;*/
}




/*
Outline
--------------------------------------- */

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

.lens-outline {
  background: white;
  position: fixed;
  right: 0px;
  width:30px;
  top: 0px;
  bottom: 0px;
}

.lens-outline .node.cover {

}

.lens-outline .node .arrow {
  display: none;
  position: absolute;
  top: -7px;
  left: -17px;
  
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}

.lens-outline .node.selected .arrow {
  display: block;
}

.lens-outline .visible-area {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 80px;
  z-index: 2000;
  background-color: rgba(0,0,0, 0.2);
}

.lens-outline:hover .visible-area {
  background-color: rgba(0,0,0, 0.25); 
}

.lens-outline .visible-area:hover {
  background-color: rgba(0,0,0, 0.3); 
}

.lens-outline .node {
  margin: 0px 4px;
  width: 22px;
  background: rgba(0,0,0, 0.4);
  opacity: 0.15;
  cursor: pointer;
}

.lens-outline .text {
}

.lens-outline .heading {
  background: rgba(0,0,0, 0.5);
}

.lens-outline .node.selected {
  opacity: 1.0;
}

.node.highlighted {
  background: #5c6570;
  opacity: 1;
  border-left-width: 3px;
  border-left-style: solid;
}


/* Mobile (iPad Portrait, iPhone) */
/*@media (max-width: 850px) {
  .visible-area {
    display: none;
  }
}*/

/* Mobile (iPhone) */
@media (max-width: 650px) {
  .content-node {
    padding: 5px 20px;
  }
  .toggle-bookmark {
    display: none;
  }
  .lens-outline {
    display: none;
  }

  .content-node.cover h1 {
    font-size: 30px;
  }

  .content-node.cover .author {
    font-size: 16px;
    margin-right: 10px;
  }

  .content-node.cover {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}


/* Print
------------------------------------------------------- */

@media print {

  /* Inline rules */
  body, input, textarea, p {
    color:#000;
    font:12px/20px 'Open Sans', sans-serif;
    }
  .prose a:after { content:' [' attr(href) '] '; }

  /* Cut pad rules in half, matches mobile rules */
  .pad4   { padding:20px; }
  .pad8   { padding:40px 20px; }
  .pad4y  { padding-top:20px; padding-bottom:20px; }
  .pad4x  { padding-left:20px; padding-right:20px; }
  .pad2   { padding:10px; }
  .pad2y  { padding-top:10px; padding-bottom:10px; }
  .pad2x  { padding-right:10px; padding-left:10px; }

  /* Icon sprites dont show up be default so kill'em */
  .rcon:after, .icon:before { width:0; height:0; }

  /* TODO Depreciate */
  .noprint { display:none; }
  }
